# Database Configuration
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password_here
DB_DATABASE=social-website

# JWT Configuration
JWT_SECRET=your_secret_key_here

# Application Port
PORT=4000
